doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sales Agent Page
    Link(rel="stylesheet" href="/css/sales-agent-dashboard.css")     
  body
    h1 Sales Agent Dashboard!
    p We're glad to have you here.
    a(href="/logout") Logout
